[Desktop Entry]
Version=1.0
Name=FeatherNotes
Comment=Lightweight notes manager
Comment[de]=Leichter Notizen-Manager
Comment[hu]=Könnyed jegyzetkezelő
Comment[it]=Gestore di note leggero
Comment[cs]=Nenáročný správce poznámek
Comment[lt]=Supaprastinta užrašų tvarkytuvė
Comment[pl]=Lekki menedżer notatek
Comment[ru]=Лёгкий менеджер заметок
Comment[sv]=Lättviktig antecknings hanterare
Exec=feathernotes %f
Icon=feathernotes
Terminal=false
Type=Application
MimeType=text/feathernotes-fnx;
Categories=Qt;Utility;TextEditor;
X-KDE-StartupNotify=false
