[Desktop Entry]
Version=1.0
Name=FeatherNotes
Comment=Lightweight notes manager
Comment[lt]=Supaprastinta užrašų tvarkytuvė
Comment[pl]=Lekki menedżer notatek
Exec=feathernotes %f
Icon=feathernotes
Terminal=false
Type=Application
MimeType=text/feathernotes-fnx;
Categories=Qt;Utility;TextEditor;
X-KDE-StartupNotify=false
